body {
  background-image: url("https://pub-static.fotor.com/assets/bg/247d99f6-6217-4573-8ade-ce8043170fcd.jpg");
  font-family: "Roboto", sans-serif;

  display: block;
  margin: 0 auto;
}

.container {
  border: 1px solid rgba(248, 247, 247, 0.2);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(248, 244, 244, 0.2);
  border-radius: 6px;
  width: fit-content;

  padding: 15px;

  margin: 0 auto;
  margin-top: 80px;
}
form {
  padding-bottom: 15px;
}
.search-input {
  width: 79%;
  padding: 14px;
  border-style: none;
  border-radius: 6px;
  background-color: rgba(153, 142, 142, 0.5);
  font-size: 14px;
}
.submit-btn {
  width: 100px;
  padding: 12px;
  background-color: rgb(236, 130, 236);
  border-style: none;
  border-radius: 6px;
  color: whitesmoke;
  font-size: 17px;
  margin-left: 4px;
}

main {
  border-top: 2px solid rgba(153, 142, 142, 0.1);
}

.Humidity-windspeed {
  color: rgb(236, 96, 119);
  font-weight: bold;
}
.details {
  color: rgb(90, 83, 83);
  font-weight: 500;
  margin-bottom: -20px;
}

.temperature {
  position: relative;
  left: 315px;
  top: -85px;
  font-size: 73px;
  font-weight: bold;
}

.icon {
  position: relative;
  left: 328px;
  top: -55px;
  width: 2px;
}

.units {
  position: relative;
  left: 310px;
  top: -123px;
  font-size: 26px;
}

footer {
  border-top: 2px solid rgba(153, 142, 142, 0.1);
  margin-top: -25px;
  padding-top: 15px;
  font-size: 15px;
}
