body {
  background-image: url("https://pub-static.fotor.com/assets/bg/247d99f6-6217-4573-8ade-ce8043170fcd.jpg");
}
.container {
  border: 1px solid rgb(209, 205, 205);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(252, 214, 220, 0.2);
  border-radius: 5px;
  width: fit-content;
  padding: 20px;
  margin: 0 auto;
  margin-top: 80px;
}
